$fuentePrincipal: 'DM Sans', sans-serif;

// Colores
$negro: #111111;
$blanco: #f9f9f9;

//Primary
$softRed: hsl(10, 79%, 65%);
$cyan: hsl(186, 34%, 60%);

// Neutral
$darkBrown: hsl(25, 47%, 15%);
$mediumBrown: hsl(28, 10%, 53%);
$cream: hsl(27, 66%, 92%);
$veryPaleOrange: hsl(33, 100%, 98%);

// Font-weights
$regular: 400;
$bold: 700;

// MediaQueries
$phone: 480px;
$tablet: 768px;
$desktop: 1200px;

@mixin tablet {
    @media (min-width: $desktop) {
        @content;
    }
}

