.card__spending {
    background-color: $blanco;
    padding: 2rem;
    .card__chart {
        .card__chart--bar {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        align-items: end;
        height: 20rem;
        gap: 2rem;
        div {
            margin-top: 2rem;
            border-radius: .5rem;
            background-color: $softRed;
        }
        .mon {
            height: 5rem;
        }
        }
        .card__chart--names {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            gap: 2rem;
            justify-items: center;
        }
    }
}
.attribution {
    font-size: 11px;
    text-align: center;
    a {
        color: hsl(228, 45%, 44%);
    }
}

